*{
    box-sizing: border-box;
}
.main-header{
    background: #232a3b;
    color: white;

}
.header{
    width: 80%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.header-buttons li{
display: inline-block;
margin-top: 20px;
padding: 10px;
padding-left: 40px;
box-shadow: 10px;
text-transform: uppercase;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 20px;
}