* {
    box-sizing: border-box;
}
body{
    padding: 0 auto;
    margin: 0;
    width: 100%;
}

.main-header {
    background: #232a3b;
    color: white;
}

.header {
    width: 80%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.header-buttons li {
    display: inline-block;
    margin-top: 20px;
    padding: 10px;
    padding-left: 40px;
    box-shadow: 10px;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

/* Join SEction */

.joinSection {
    align-items: center;
    background: #333333;
    color: #fff;
    display: flex;
    height: 80px;
    justify-content: center;
}

.h2_joinSection {
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

button {
    background: whitesmoke;
    margin-left: 60px;
    padding: 5px;
    border: 10px solid red;
    border-radius: 10px 20px;
}

.img {
    background: #232A3B url("masthead.jpg") no-repeat center;
    background-position: 0px 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-size: cover;
    color: #fff;
    height: 450px;
    font-family: audiowide;
    font-size: 2.2em;
    padding: 90px 90px;
    text-align: center;
    letter-spacing: 0.12em;
  }

span {
    margin-bottom: 30px;
    display: block;
    margin-top: -10px;
}

/* Container/ Middle part*/

.container {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.fa-4x {
    color: rgb(0, 174, 255);
}

.flexbox {
    display: flex;
    justify-content: space-between;
}